/* Navbar and Picture */
#title{
    background-color: #A1CAE3;
}
.navbar .nav-link{
    font-size: 1.8rem;
    font-family: Montserrat;
}
.navbar .navbar-brand{
    font-size: 2.6rem;
    font-family: Ubuntu;
}
.container-fluid img{
    height: 90%;
    width: 90%;
    display: block;
}
.container-fluid nav{
    padding: 2% 10%;
}
/* Blog cards home page */
#blog{
    padding: 5% 15% 2% 15%;
    background-color:#E1E1E1;
}
.card-title{
    font-family: Ubuntu;
}
.card-text{
    font-family: Montserrat;
}
.social-icons:hover{
    color:lightgrey;
}
.blog-header{
    padding: 2% 10%;
}
/* Blog list settings */
.blog-list{
    padding: 1% 12%;
    font-family:Montserrat;
    list-style-type: none;
}
/* header font for blog list */
h2, h3, h4{
    font-family:Ubuntu;
}
/* Main blog font */
.blogpost-text{
    font-size: 1.4em;
    font-family: Titillium Web;
}
.blogpost-layout{
    padding: 3% 20%;
}
.blogpost-layout p{
    padding: 5% 10%;
}
#bloglist {
    padding:  2% 35% 5%;
    background-color:#E1E1E1;
}
/* About page styling */
.aboutImage {
    width: 70%;
    height: 40%;
}
.aboutSection {
    padding: 3% 10% 3% 10%;
}
.divider {
    padding: 2%;
    clear: both;
}
.aboutSection p{
    font-size: 1.4em;
    font-family: Titillium Web;
}
.projects .container{
    padding-top: 6%;
    padding-bottom: 5%;
}
.projects .card{
     height: 400px;
}
b {
    font-family: 'Titillium Web', sans-serif;
}